*.css linguist-detectable=false
*.java linguist-detectable=false
*.python linguist-detectable=true 
*.R linguist-detectable=true 
*.Rmd linguist-detectable=true 
*.js linguist-detectable=false
*.html linguist-detectable=false  
*.xml linguist-detectable=false 
